page-registrer {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
    text-align: center;
    
    .img-div{
        margin-left: 70px;
        margin-right: 70px;
        display: block;
    }
    
    .lbl{
        text-align: initial;
    }

    .btn1{
        padding: 20px;
        background-color: blue;
    }
}
